.container {
    margin: 0 105px;
}

.title {
    font: bold 50px/80px Montserrat, sans-serif;
    color: #000;
    text-transform: uppercase;
}

/* ----- Promo start ----- */
.promo {
    background: url("../img/head-bg.jpg") center center/cover no-repeat;
    min-height: 700px;
    padding-top: 40px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.nav__list {
    display: flex;
    list-style: none;
}

.nav__item a {
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    color: #000;
    text-decoration: none;
    padding: 12px 15px;
    transition: all .4s ease;
    text-transform: uppercase;
}

.nav__item a:hover {
    color: #FFF;
    background-color: #d03958;
    border-radius: 5px;
}

.promo__content {
    display: flex;
    margin-top: 170px;
    justify-content: space-between;
}

.promo__text {
    width: 50%;
}

.promo__title {
    font: bold 90px/80px Montserrat, sans-serif;
    color: #d03958;
}

.promo__title span {
    color: #000;
}

.promo__descr {
    font: normal 20px/28px PTSerif, sans-serif;
}

.form {
    display: flex;
    flex-direction: column;
    padding: 30px 25px;
    background-color: #d03958;
    border-radius: 5px;
    position: relative;
    bottom: -85px;
}

.form__title {
    font: normal 22px/1.2 Montserrat, sans-serif;
    color: #FFF;
    margin-bottom: 37px;
    text-align: center;
}

.form__input {
    padding: 19px;
    width: 315px;
    font: normal 20px/25px PTSerif, sans-serif;
    color: #b5b5b5;
    margin-bottom: 16px;
    border-color: transparent;
    border-radius: 5px;
}

.form__input:nth-child(5) {
    margin-bottom: 27px;
}

.form__input:active, .form__input:focus {
    outline: none;
}

.form__checkbox {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.form__checkbox + label {
    display: inline-flex;
    align-items: center;
    font: normal 20px/1.25 PTSerif, sans-serif;
    color: #FFF;
    margin-bottom: 20px;
}

.form__checkbox + label:before {
    content: '';
    width: 20px;
    height: 20px;
    display: inline-block;
    background-color: #FFF;
    border-radius: 5px;
    margin-right: 23px;
    text-align: center;
}

.form__checkbox:checked + label:before {
    content: '\2713';
    color: #d03958;
    font-size: 20px;
    line-height: 20px;
}

.form__btn {
    background-color: #000;
    border-radius: 5px;
    color: #FFF;
    font: normal 22px/1em Montserrat, sans-serif;
    border-color: transparent;
    padding: 20px 0;
    cursor: pointer;
    transition: all .3s ease;
}

.form__btn:hover {
    box-shadow: 0 0 10px rgba(0,0,0,.7);
}
/* ----- Promo end ----- */

/* ----- Services start ----- */
.our_services__title {
    margin: 40px 0 95px 0;
}

.our_services__title span {
    color: #d03958;
}

.our_services__wrapper {
    display: flex;
    justify-content: space-between;
}

.our_services__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.our_services__img {
    margin-bottom: 45px;
}

.our_services__descr {
    text-align: center;
    font: normal 20px/28px PTSerif, sans-serif;
    color: #161616;
}

/* ----- Services end ----- */

/* ----- Story start ----- */
.our_story {
    background-color: #d03958;
    padding: 30px;
}

.our_story__wrapper {
    display: flex;
    justify-content: space-between;
}

.our_story__descr {
    color: #FFF;
    font: normal 20px/28px PTSerif, sans-serif;
    text-align: left;
    width: 60%;
}

.our_story__button {
    color: #161616;
    padding: 25px 65px;
    font: normal 22px/28px Montserrat, sans-serif;
    border-radius: 5px;
    background-color: #e3d5b8;
    text-decoration: none;
    transition: all .3s ease;
    display: inline-flex;
    align-items: center;
}
.our_story__button:hover {
    background-color: #161616;
    color: #e3d5b8;
}

/* ----- Story end ----- */