.container {
    margin: 0 105px;
}

.promo {
    background: url("../img/head-bg.jpg") center center/cover no-repeat;
    min-height: 700px;
    padding-top: 40px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.nav__list {
    display: flex;
    list-style: none;
}

.nav__item a {
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    color: #000;
    text-decoration: none;
    padding: 12px 15px;
    transition: all .4s ease;
}

.nav__item a:hover {
    color: #FFF;
    background-color: #d03958;
    border-radius: 5px;
}